<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
      <filter>
		<filter-name>CORS Filter</filter-name>
		<filter-class>org.ebaysf.web.cors.CORSFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
			<description>A comma separated list of allowed origins. Note: An '*' cannot be used for an allowed origin when using credentials.</description>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,PUT,DELETE,OPTIONS</param-value>
			<description>A comma separated list of HTTP verbs, using which a CORS request can be made.</description>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>X-FHIR-Starter,Origin,Accept,X-Requested-With,Content-Type,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
			<description>A comma separated list of allowed headers when making a non simple CORS request.</description>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Location,Content-Location</param-value>
			<description>A comma separated list non-standard response headers that will be exposed to XHR2 object.</description>
		</init-param>
		<init-param>
			<param-name>cors.support.credentials</param-name>
			<param-value>true</param-value>
			<description>A flag that suggests if CORS is supported with cookies</description>
		</init-param>
		<init-param>
			<param-name>cors.logging.enabled</param-name>
			<param-value>true</param-value>
			<description>A flag to control logging</description>
		</init-param>
		<init-param>
			<param-name>cors.preflight.maxage</param-name>
			<param-value>300</param-value>
			<description>Indicates how long (in seconds) the results of a preflight request can be cached in a preflight result cache.</description>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CORS Filter</filter-name>
		<url-pattern>/fhir/*</url-pattern>
	</filter-mapping>
	
	  <servlet>
    <servlet-name>hapiservlet</servlet-name>
    <servlet-class>org.htl.adt.servlet.Restfulservlet</servlet-class>
  </servlet>
  	<servlet-mapping>
		<servlet-name>hapiservlet</servlet-name>
		<url-pattern>/fhir/*</url-pattern>
	</servlet-mapping>
</web-app>
