@CHARSET "ISO-8859-1";
/* Allgemein Anfang */
	body{
	background-color:lightgrey;
	font-size: 20px;
	}
	
	* {
    box-sizing: border-box;
	}
	
	.row:after 
	{
    content: "";
    clear: both;
    display: block;
	}
	
	[class*="col-"] 
	{
    float: left;
    padding: 15px;
	}
	
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
/* Allgemein Ende */
	
/* SearchButton Anfang */
	.button 
	{
    padding: 8px;
    text-align: center;
    margin-bottom: 7px;
    background-color :#04B486;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    
	}
	
	.button:HOVER 
	{
	background-color: #04A278;
	cursor: pointer;
	}
/* SearchButton Ende */
	
	.header 
	{
	min-width: 300px;
    background-color: #04B486;
    color: #ffffff;
    padding: 15px;
    font-size: 35px;
	}
	
/* Parameterfelder Anfang */
	.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    
	}
	
	.menu li 
	{
	min-width:250px;
    padding: 8px;
    margin-bottom: 7px;
    background-color :#04B486;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
	}
	
	.menu li a {
	display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
	}
/* Parameterfelder Ende */
	
/* Inputfelder Anfang */
	input 
	{
	width : 75%;
	}
/* Inputfelder Ende */
	
	
/* MenuBar Anfang */
	ulBar {
	position : fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04B486;
}

	liBar {
    float: left;
}

	liBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


	liBar a:hover {
    background-color: #04A278;
}
/* MenuBar Ende */
/* Patient in Patientenliste Anfang */
	.patientListbutton 
	{
    padding: 8px;
    text-align: center;
    margin-bottom: 7px;
    background-color :#04B486;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    
	}
	
	.patientListbutton:HOVER 
	{
	background-color: #04A278;
	cursor: pointer;
	}
/* Patient in Patientenliste  Ende */

