@CHARSET "ISO-8859-1";
	body{
	background-color:lightgrey;
	}
	
	* {
    box-sizing: border-box;
	}
	
	.row:after {
    content: "";
    clear: both;
    display: block;
	}
	
	[class*="col-"] {
    float: left;
    padding: 15px;
	}
	
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	h2{
	color:green;
	font-size: 40;	
	}
	
	.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	}
	
	.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#04B486;
    color: #ffffff;
	}
	.menu liButton {
	padding: 8px;
    margin-bottom: 7px;
    background-color :#04B486;
    color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	
	}
	.menu liButton:HOVER {
	background-color: #04A278;
	cursor: pointer;
	}
	.header {
    background-color: #04B486;
    color: #ffffff;
    padding: 20px;
	}

	ulMenuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04B486;
	}
	
	liMenuBar {
	display : inline;
    float: left;
	}
	liMenuBar a {
	display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    
	}
	liMenuBar a:HOVER {
	backgroundcolor: #04A278;
	}
	input {
	width : 75%;
	}
